{% load static %}
{% load format_tags %}


<div id="modal-cart-items-container" class="cart_menu">
  <div class="cart_menu_content">

    {% if carts %}
      <div class="cart_menu_header mb-3">Ваши товары</div>

      <div class="cart_menu_list">

        {% for cart in carts %}
          <div id="modal-cart-item-{{ cart.id }}" class="d-flex justify-content-between cart_menu_item">
            <div class="cart_menu_item_img">
              <a href="{% url "goods:product" cart.product.slug %}">
                {% if cart.product.images.all.0.image %}
                  <img class="w-100" src="{{ cart.product.images.all.0.image.url }}" alt={{ cart.product.name }}>
                {% else %}
                  <img class="w-100" src="{% static "images/no-product-image.jpg" %}" alt="No Product Image">
                {% endif %}
              </a>
            </div>

            <div class="cart_menu_item_content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <div class="cart_menu_item_title"><a href="{% url "goods:product" cart.product.slug %}">{{ cart.product.name }}</a></div>

                <a href="{% url "carts:cart_remove" %}" class="del_cart_btn remove-from-cart" data-cart-id="{{ cart.id }}">
                  {% csrf_token %}
                  <img class="w-100" src={% static "icon/cart-mini-del.png" %} alt="Убрать">
                </a>
              </div>

              <div class="d-flex justify-content-between align-items-center pe-2">
                <div class="cart_menu_q input-group">

                  <button type="button" class="q_btn decrement" data-cart-id="{{ cart.id }}" data-cart-change-url="{% url "cart:cart_change" %}">{% csrf_token %}-</button>
                  <input id="goods-in-cart-count-modal" type="text" name="q_item" class="cart_menu_item_q number" value="{{ cart.quantity }}" readonly>
                  <button type="button" class="q_btn increment" data-cart-id="{{ cart.id }}" data-cart-change-url="{% url "cart:cart_change" %}">{% csrf_token %}+</button>

                </div>

                  <div class="cart_menu_item_price">{{ cart.product.sell_price|format_price }}</div>

              </div>
            </div>
          </div>
        {% endfor %}
        
        <div class="d-flex justify-content-between align-items-center mt-4 cart_menu_total">
          <div>Заказ на сумму</div>
          <div id="modal-cart-total-price">{{ carts.total_price|format_price }}</div>
        </div>
      </div>

      <div class="cart_menu_footer">
        <a href="{% url "orders:order" %}" class="btn primary-btn">Оформить заказ</a>
      </div>

    {% else %}
      <div class="cart_menu_footer">Корзина пуста.</div>
    {% endif %}

  </div>
</div>
