{% extends "main/base.html" %}
{% load static %}
{% load format_tags %}


{% block content %}
  <div class="row">
    <div class="col-12">
        <h1 class="mb-5 text-center text-lg-left">
            {% if order.is_paid %}Спасибо за покупку!
            {% else %}Заказ ждет оплаты{% endif %}
        </h1>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-md-6">
      <h2 class="h5">Номер заказа</h2>
      <p>{{ order.order_id }}</p>
    </div>
    <div class="col-md-6">
      <h2 class="h5">Дата заказа</h2>
      <p>{{ order.created_timestamp|date:"d.m.Y H:i" }}</p>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-12">
      <p>
        Информация о заказе направлена на <strong>{{ order.email }}</strong>.
      </p>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-12">
      <h3 class="mb-4   ">Товары в заказе</h3>
      {% if order_items %}
        <ul class="list-group list-group-flush">
          {% for item in order_items %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span>{{ item.name }}</span>
              <span>{{ item.price|format_price }}</span>
            </li>
          {% endfor %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Общая стоимость</span>
            <span>{{ total_price|format_price }}</span>
          </li>
        </ul>
      {% else %}
        <p>Список товаров пуст.</p>
      {% endif %}
    </div>
  </div>

  {% if not order.is_paid %}
    <div class="row mb-4">
      <div class="col-12 text-center">
        <a href="#" class="btn btn-dark btn-lg">Оплатить заказ</a>
      </div>
    </div>
  {% endif %}

  <!-- Блок похожих товаров (если есть) -->
  {% if similar_products and order.is_paid%}        
  <h2 class="text-center related_title mb-4">Смотрите также</h2>

  <div class="row flex-wrap product_list">
      {% for similar_product in similar_products %}
      
          <div class="product_item col-6 col-lg-4 mb-lg-2">
              
              <div class="product_item_img">
                  {% with main_image=similar_product.images.all.0 image_alt=similar_product.images.all.1 %}
                      <a href="{% url "goods:product" similar_product.slug %}">
                          {% if main_image %}
                              <img class="first_img" src="{{ main_image.image.url }}" class="d-block w-100" alt="{{ product.name }}">
                          {% else %}
                              <img class="first_img" src="{% static 'images/no-product-image.jpg' %}" class="d-block w-100" alt="No Product Image">
                          {% endif %}
                          
                          {% if image_alt %}
                              <img class="second_img" src="{{ image_alt.image.url }}" class="d-block w-100" alt="{{ product.name }}">
                          {% elif not main_image %}
                              <img class="second_img" src="{% static 'images/no-product-image.jpg' %}" class="d-block w-100" alt="No Product Image">
                          {% else %}
                              <img class="second_img" src="{{ main_image.image.url }}" class="d-block w-100" alt="{{ product.name }}">                                        
                          {% endif %}
                      </a>
                  {% endwith %}
              </div>

              <div class="product_item_info">
                  <a class="py-2 py-lg-4" href="{% url "goods:product" similar_product.slug %}">
                      <div class="product_item_name">{{ similar_product.name }}</div>                            
                          {% if similar_product.discount_price %}
                              <div class="product_item_price">
                                  <div class="price_old">{{ similar_product.price|format_price }}</div>
                                  <div>{{ similar_product.sell_price|format_price }}</div>
                              </div>

                          {% else %} 
                              <div class="product_item_price">{{ similar_product.price|format_price }}</div>

                          {% endif %}
                  </a>
              </div>
          </div>

      {% endfor %}
  </div>

{% endif %}
{% endblock %}
