{% extends "main/base.html" %}
{% load static %}
{% load format_tags %}
{% load format_phone_tags %}


{% block content %}
<div class="mx-2">
  <div class="row">
    <div class="col-12">
        <h1 class="mb-5 text-center text-lg-left">Заказ {{ order.get_status_display }}</h1>
    </div>
  </div>

  <h2>Заказ №{{ order.order_id }}</h2>
  <p>Заказчик: {{ order.full_name }}, {{ order.phone_number|format_phone }}</p>
  <p>Информация о заказе направлена на {{ order.email }}.</p>
  <p>Дата заказа: {{ order.created_timestamp|date:"d.m.Y H:i" }}</p>
  <p>Статус заказа - {{ order.get_status_display }}.</p>
  <p>Доставка: {{ order.delivery_service }} на адрес: {{ order.delivery_address }}</p>
  
  {% if not order.is_paid %}
      <div class="row mb-4">
        <div class="col-12 text-center">
          <form action="" method="post" id="payment-form">
              {% csrf_token %}
              <button class="btn btn-dark btn-lg" type="submit">Оплатить заказ</button>
          </form>
        </div>
      </div>
  {% endif %}

  <div class="row mb-5">
    <div class="col-12">
      <h3 class="mb-4">Товары в заказе</h3>
      {% if order_items %}
        {% for item in order_items %}
          <div id="item-item-{{ item.id }}">
              <div class="flex ai-center order-item-body">
                  <div class="flex ai-center order-content"> 
                      <a href="{% url "goods:product" item.product.slug %}" class="order-card-img">
                          {% with product_image=item.product.images.all.0 %}
                              {% if product_image %}
                                  <img class="order-img" src="{{ product_image.get_image_url_or_default }}" alt="{{ item.product.name }}" loading="lazy">
                              {% else %}
                                  <img class="order-img" src="{% static 'images/No_Image.png' %}" alt="{{ item.product.name }}" loading="lazy">
                              {% endif %}
                          {% endwith %}
                      </a>

                      <div class="order-ditale">
                          <a href="{% url 'goods:product' item.product.slug %}" class="oreder-item-title">{{ item.product.name }}</a>

                          <div class="order-cout-value number">{{ item.quantity }} шт.</div>
                      </div>

                  </div> 

                      <div class="flex order-total-price">
                          <p class="mb-0">
                              <span id="item-item-{{ item.id }}-price">
                                  {{ item.products_price|format_price }}
                              </span>
                          </p>
                      </div>
                      
                  
              </div>
              <hr/>
          </div>
        {% endfor %}

            <div class="order-final-price">
        <div class="flex jc-sb">
            <div>Стоимость покупки: </div>
            <div>
                <span id="cart-total-price">
                    {{ total_price|format_price }}
                </span>
            </div>
        </div>
        <div class="flex jc-sb">
            <div>Стоимость доставки: </div>
            <div>999 ₽</div>
        </div>
        <div class="flex jc-sb">
            <div>Итого к оплате:</div>
            <div>99 999 ₽</div>
        </div>
    </div>

      {% else %}
        <p>Список товаров пуст.</p>
      {% endif %}
    </div>
  </div>
</div>

  {% if similar_products and order.is_paid %}      
    <h2 class="text-center related_title pt-5 mt-5 mb-4">Смотрите также</h2>

    <div class="row flex-wrap product_list">
        {% for similar_product in similar_products %}
            <div class="col-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center">
                {% include "goods/includes/product_card.html" with product=similar_product %}
            </div>
        {% endfor %}
            <div class="col-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center">
                <u><a href="{% url 'goods:index' %}">Перейти в каталог...</a></u>
            </div>
    </div>

  {% endif %}
{% endblock %}
