/* @media (max-width: 768px) {
    .flex.ai-center.order-item{
        flex-direction: column;
        align-items: flex-start !important;
        width: 70% !important;
    }
    .flex.ai-center.order-content {
        flex-direction: column;
        width: 70% !important;
        text-align: center;
        
    }
    
    .flex.ai-center.order-content .me-5 {
        margin-right: 0 !important;
        margin-bottom: 0.5rem;
    }

    .flex.ai-center.order-price{
        width: 30%;
        height: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: flex-end !important;
        flex-direction: column;
    }
    
    .order-img {
        max-width: 100px;
        height: auto; 
    }
} */