{% extends "main/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-lg-1">
        </div>


        <div class="col-lg-8 col-md-12">
            <div class="row">
                {% for product in products %}
                <div class="col-lg-4 col-md-6 mt-4">
                    <div class="card" style="width: 26rem;">
                        <a href="#" class="text-decoration-none text-reset">
                            <div class="pictures">
                                <div class="picture1">
                                    <img src="source/images/sample product.jpg" class="card-img-top img-fluid"
                                        alt="Product image">
                                </div>
                                <div class="picture2">
                                    <img src="source/images/sample product 2.jpg" class="card-img-top img-fluid"
                                        alt="Product image">
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">{{ product.price }}</p>
                                <a href="#" class="btn btn-outline-dark mt-3">Добавить в корзину</a>
                            </div>
                        </a>
                    </div>
                </div>                
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock %}