{% extends "main/base.html" %}
{% load static %}
{% load format_tags %}

{% block content %}
<div class="flex catalog-body">
    <nav aria-label="Категории" class="catalog-nav">
        <ul>
            <li class="nav-item">
                <a href="{% url 'goods:index' %}" class="category-button nav-link {% if not request.GET.category %}active{% endif %}">Все товары</a>
            </li>
            {% for category in categories %}
                <li class="nav-item">
                    <a href="?category={{ category.slug }}" class="category-button nav-link {% if request.GET.category == category.slug %}active{% endif %}">
                        {{ category.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>

    <div class="flex fw-wrap catalog-main" id="catalog-main">
        {% include "goods/includes/catalog_items.html" %}
    </div>
</div>

<div class="text-center mt-3" id="load-more-container">
    {% if products|length >= limit %}
        {% include "goods/includes/load_more_button.html" %}
    {% endif %}
</div>

{% endblock %}
