{% extends "main/base.html" %}
{% load static %}

{% block content %}
			<div class="row justify-content-between align-items-lg-start mb-5 mb-lg_8">
				<div class="col-12 col-lg-7 product_image_block">
					<div id="carousel" class="carousel slide">
						<div class="d-flex d-lg-none carousel-indicators">
							<button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
							<button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
							<button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
							<button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
							<button type="button" data-bs-target="#carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
						</div>
						<div class="d-block d-lg-flex flex-lg-wrap carousel-inner">
							<div class="col-lg-12 carousel-item active">
								<img src={% static "images/product-slide.jpg" %} class="d-block w-100" alt="">
							</div>
							<div class="col-lg-6 carousel-item">
								<img src={% static "images/product-slide2.jpg" %} class="d-block w-100" alt="">
							</div>
							<div class="col-lg-6 carousel-item">
								<img src={% static "images/product-slide.jpg" %} class="d-block w-100" alt="">
							</div>
							<div class="col-lg-12 carousel-item">
								<img src={% static "images/product-slide2.jpg" %} class="d-block w-100" alt="">
							</div>
							<div class="col-lg-12 carousel-item">
								<img src={% static "images/product-slide.jpg" %} class="d-block w-100" alt="">
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-lg-5 product_content_block">
					<h1 class="product_name">{{ product.name }}</h1>
					<div class="d-flex flex-wrap align-items-stretch d-lg-block">
                        {% if product.discount_price %}
						    <div class="d-flex flex-column d-lg-block justify-content-center product_price">
							    <span class="d-block d-lg-inline price_old">{{ product.price }} &#8381;</span>
							{{ product.discount_price }} &#8381;
						    </div>
                        
                        {% else %}
                            <div class="d-flex flex-column d-lg-block justify-content-center product_price">{{ product.price }} &#8381;</div>

                        {% endif %}

                        {% if product.options and product.options.all.exists %}
                            <div class="col product_option_block order-3 mt-4 mt-lg-0">
                                <div class="product_option_name mb-3 mb-lg-2">Варианты:</div>
                                <div class="product_option">
                                    <input class="select_input" type="hidden" name="" value="1">
                                    <div class="select_head">option 1</div>
                                    <ul class="select_list">
                                        <li class="select_item">option 1</li>
                                        <li class="select_item">option 2</li>
                                        <li class="select_item">option 3</li>
                                    </ul>
                                </div>
                            </div>

                        {% endif %}


						<div class="add2cart_block order-2">
                            <a href="{% url "carts:cart_add" %}" class="add-to-cart" data-product-id="{{ product.id }}">
                                <button class="btn add2cart_btn primary-btn" type="button">{% csrf_token %}Добавить в корзину</button>
                            </a>
                        </div>

                        <a href="{% url "carts:cart_remove" %}" class="del_cart_btn remove-from-cart" data-cart-id="{{ cart.id }}">
                            {% csrf_token %}
                            <img class="w-100" src={% static "icon/cart-mini-del.png" %} alt="Убрать">
                        </a>

					</div>

					<div class="product_description">
						<h3 class="product_description_title">Описание</h3>
						<div class="product_description_text mb-4 mb-lg-5">
							{{ product.description }}
						</div>
						<h3 class="product_description_title">Состав</h3>
						<div class="product_description_text mb_2_8">
							{{ product.compound }} 
						</div>


						<div class="product_description_icon">
                            {% for laundary in product.laundry_features.all %}
                                {% if laundary.icon %}
							        <img class="product_icon" src={{ laundary.icon.url }} alt="{{ laundary.name }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{{ laundary.name }}">
                                {% endif %}
                            {% endfor %}
                        </div>
					</div>
				</div>
			</div>

            {% if product.similar_products.all.exists %} 
            
                <h2 class="text-center related_title mb-4">Похожие товары</h2>

                <div class="row flex-wrap product_list">
                    {% for similar_product in product.similar_products.all %}
                    
                        <div class="product_item col-6 col-lg-4 mb-lg-2">
                            
                            <div class="product_item_img">
                                <a href="{% url "goods:product" product.slug %}">
                                    {% if product.image %}
                                        <img class="first_img" src="{{ product.image.url }}" class="d-block w-100" alt="{{ product.name }}">
                                        <img class="second_img" src={% static "images/product-left2.jpg" %} class="d-block w-100" alt="{{ product.name }}">
                                
                                    {% else %}
                                        <img class="first_img" src={% static "images/product-left.jpg" %} class="d-block w-100" alt="No Product Image">
                                        <img class="second_img" src={% static "images/product-left2.jpg" %} class="d-block w-100" alt="No Product Image">
                
                                    {% endif %}
                                </a>
                            </div>

                            <div class="product_item_info">
                                <a class="py-2 py-lg-4" href="{% url "goods:product" product.slug %}">
                                    <div class="product_item_name">{{ product.name }}</div>

                                    {% if product.discount_price %}
                                        <div class="product_item_price">
                                            <div class="price_old">{{ product.price }} &#8381;</div>
                                            <div>{{ product.discount_price }} &#8381;</div>
                                        </div>

                                    {% else %}
                                        <div class="product_item_price">{{ product.price }} &#8381;</div>

                                    {% endif %}
                                </a>
                            </div>
                        </div>

                    {% endfor %}
                </div>

            {% endif %}

{% endblock %}