{% extends "main/base.html" %}
{% load static %}


{% block content %}
  <h5>{{ title }}</h5>

  <h2 class="mt-5">{{ header_1 }}</h2>
  <div class="container-1">
      <div class="col-5">
        <p>{{ text_1 }}</p>
      </div>
  </div>

  <h2 class="mt-5">{{ header_2 }}</h2>
  <div class="container-2">
    <div class="row">
        <div class="col-3">
            <p>{{ text_2_1 }}</p>
        </div>

        <div class="col-3">
            <p>{{ text_2_2 }}</p>
        </div>

        <div class="col-3">
            <p>{{ text_2_3 }}</p>
        </div>

    </div>
  </div>

  <h2 class="mt-5">{{ header_3 }}</h2>
  <div class="row">
    <div class="col-3">
        <p>{{ text_3_1 }}</p>
    </div>

    <div class="col-3">
        <p>{{ text_3_2 }}</p>
    </div>

    <div class="col-3">
        <p>{{ text_3_3 }}</p>
    </div>
  </div>

{% endblock  %}