{% extends "main/base.html" %}
{% load static %}
{% load format_tags %}

{% block content %}

{% for block, block_type in blocks %}
  {% if block_type == 'text' %}
    <div class="mb_3_8 mb-lg_6">
      <h1>{{ block.title|safe }}</h1>
      <p>{{ block.text|safe }}</p>
    </div>

  {% elif block_type == 'content' %}
    <div class="product_{{ block.alignment }} mb_2_8 mb-lg_5">
      <div class="collection_name mb-4">{{ block.title|safe }}</div>
      <div class="row flex-column flex-lg-row justify-content-lg-between">
        <div class="col-12 col-lg-8 mb-4 mb-lg-0 collection_slider_block">

          <div id="carousel{{ block.id }}" class="carousel slide" data-bs-interval="5000" data-bs-touch="true" data-bs-ride="carousel">

            <div class="carousel-indicators">
              {% for image in block.filtered_images %}
                <button type="button" data-bs-target="#carousel{{ block.id }}" 
                        data-bs-slide-to="{{ forloop.counter0 }}" 
                        class="{% if forloop.first %}active{% endif %}" 
                        aria-current="{% if forloop.first %}true{% endif %}" 
                        aria-label="Slide {{ forloop.counter }}">
                </button>
              {% endfor %}
            </div>

            <div class="carousel-inner">
              {% for image in block.filtered_images %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                  <img src="{{ image.image.url }}" class="d-block w-100" alt="">
                </div>
              {% endfor %}
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ block.id }}" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Предыдущий</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ block.id }}" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Следующий</span>
            </button>
            
          </div>

        </div>

        <div class="d-flex d-lg-block justify-content-between col-12 col-lg-4 px-0 product_aside">
          <div class="product_item w-48 w-lg-100 mb-lg-3">
            <div class="product_item_img">
              <a href="{% url "goods:product" block.product1.slug %}">
                {% with main_image=block.product1.images.all.0 image_alt=block.product1.images.all.1 %}
                  {% if main_image %}
                    <img class="first_img" src="{{ main_image.image.url }}" class="d-block w-100" alt="{{ product2.name }}">
                  {% else %}
                    <img class="first_img" src="{% static 'images/no-product-image.jpg' %}" class="d-block w-100" alt="No Product Image">
                  {% endif %}
                
                  {% if image_alt %}
                    <img class="second_img" src="{{ image_alt.image.url }}" class="d-block w-100" alt="{{ product2.name }}">
                  {% elif not main_image %}
                    <img class="second_img" src="{% static 'images/no-product-image.jpg' %}" class="d-block w-100" alt="No Product Image">
                  {% else %}
                    <img class="second_img" src="{{ main_image.image.url }}" class="d-block w-100" alt="{{ product2.name }}">
                  {% endif %}
                {% endwith %}
              </a>
            </div>
            <div class="product_item_info">
              <a class="py-2 py-lg-4" href="{% url "goods:product" block.product1.slug %}">
                <div class="product_item_name">{{ block.product1.name }}</div>
                  {% if block.product1.discount_price %}
                    <div class="product_item_price">
                        <div class="price_old">{{ block.product1.price|format_price }}</div>
                        <div>{{ block.product1.discount_price|format_price }}</div>
                    </div>

                  {% else %}
                    <div class="product_item_price">{{ block.product1.price|format_price }}</div>
                  
                  {% endif %}
              </a>
            </div>
          </div>

          <div class="product_item w-48 w-lg-100">
            <div class="product_item_img">
              <a href="{% url "goods:product" block.product2.slug %}">
                {% with main_image=block.product2.images.all.0 image_alt=block.product2.images.all.1 %}
                    {% if main_image %}
                        <img class="first_img" src="{{ main_image.image.url }}" class="d-block w-100" alt="{{ product2.name }}">
                    {% else %}
                        <img class="first_img" src="{% static 'images/no-product-image.jpg' %}" class="d-block w-100" alt="No Product Image">
                    {% endif %}
                    
                    {% if image_alt %}
                      <img class="second_img" src="{{ image_alt.image.url }}" class="d-block w-100" alt="{{ product2.name }}">
                    {% elif not main_image %}
                      <img class="second_img" src="{% static 'images/no-product-image.jpg' %}" class="d-block w-100" alt="No Product Image">
                    {% else %}
                      <img class="second_img" src="{{ main_image.image.url }}" class="d-block w-100" alt="{{ product2.name }}">
                    {% endif %}
                {% endwith %}
              </a>
            </div>
            <div class="product_item_info">
              <a class="py-2 py-lg-4" href="{% url "goods:product" block.product2.slug %}">
                <div class="product_item_name">{{ block.product2.name }}</div>            
                  {% if block.product2.discount_price %}
                  <div class="product_item_price">
                      <div class="price_old">{{ block.product2.price|format_price }}</div>
                      <div>{{ block.product2.discount_price|format_price }}</div>
                  </div>

                  {% else %}
                    <div class="product_item_price">{{ block.product2.price|format_price }}</div>
                
                  {% endif %}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  {% elif block_type == 'carousel' %}

    <!-- Если хотите, чтобы карусель действительно 
         растягивалась на всю ширину браузера,
         стоит вынести её за пределы .container 
         или использовать container-fluid -->
    <div class="fullwidth-carousel-wrapper">
      
      <div class="carousel slide my-fullwidth-carousel" id="carousel{{ block.id }}">
  
        <div class="carousel-indicators">
          {% for image in block.filtered_images %}
            <button type="button" 
                    data-bs-target="#carousel{{ block.id }}" 
                    data-bs-slide-to="{{ forloop.counter0 }}" 
                    class="{% if forloop.first %}active{% endif %}" 
                    aria-current="{% if forloop.first %}true{% endif %}" 
                    aria-label="Slide {{ forloop.counter }}">
            </button>
          {% endfor %}
        </div>
  
        <div class="carousel-inner">
          {% for image in block.filtered_images %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <img src="{{ image.image.url }}" alt="">
            </div>
          {% endfor %}
        </div>
  
        <button class="carousel-control-prev" type="button"
                data-bs-target="#carousel{{ block.id }}" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Предыдущий</span>
        </button>
  
        <button class="carousel-control-next" type="button"
                data-bs-target="#carousel{{ block.id }}" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Следующий</span>
        </button>
  
      </div> <!-- /carousel -->
    </div> <!-- /fullwidth-carousel-wrapper -->
  
  {% endif %}
  
{% endfor %}

{% endblock  %}
